div#browsers {
	position:fixed;
	bottom:20px;
	right:20px;
}

div#safari,
div#opera,
div#chrome,
div#firefox {
	width:48px;
	display:inline;
	margin:3px;
}

div#safari_info,
div#opera_info,
div#chrome_info,
div#firefox_info {
	display:none;
	position:fixed;
	bottom:35px;
	right:250px;
}

div#opera:hover div#opera_info,
div#chrome:hover div#chrome_info,
div#firefox:hover div#firefox_info,
div#safari:hover div#safari_info {
	display:block;
}

div#bug {
	font-size:12px;
	position:absolute;
	top:10px;
	right:10px;
}

hr {
	border-left-style:none;
	border-right-style:none;
	border-bottom-style:none;
	margin:2px;
}

a {
	text-decoration:none;
}

img {
	border-style:none;
}

div#outer {
	width:100%;
	position:absolute;
	left:0px;
	top:0px;
	padding:0px;
	margin:0px;
}

div#links {
	position:relative;
	margin-top:5px;
	margin-bottom:8px;
}

div.r0,
div.r1 {
	width:79%;
	font-size:12px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:3px;
	padding-right:3px;
	position:relative;
}

div.r0 a.eu,
div.r1 a.eu {
	font-weight:normal;
	margin-right:5px;
}

div.r0>a.ru,
div.r1>a.ru {
	margin:0px;
	padding:0px;
	margin-left:2px;
	margin-right:2px;
}


div.r0>a.tag,
div.r1>a.tag {
	font-size:11px;
	font-weight:normal;
	margin-left:0px;
	margin-right:0px;
}

div.r0>div.t,
div.r1>div.t {
	font-size:11px;
	font-weight:normal;
	display:inline;
}

#u0:hover #d0,#u1:hover #d1,#u2:hover #d2,#u3:hover #d3,#u4:hover #d4,#u5:hover #d5,#u6:hover #d6,#u7:hover #d7,#u8:hover #d8,#u9:hover #d9,#u10:hover #d10,#u11:hover #d11,#u12:hover #d12,#u13:hover #d13,#u14:hover #d14,#u15:hover #d15,#u16:hover #d16,#u17:hover #d17,#u18:hover #d18,#u19:hover #d19,#u20:hover #d20,#u21:hover #d21,#u22:hover #d22,#u23:hover #d23,#u24:hover #d24,#u25:hover #d25,#u26:hover #d26,#u27:hover #d27,#u28:hover #d28,#u29:hover #d29,#u30:hover #d30,#u31:hover #d31,#u32:hover #d32,#u33:hover #d33,#u34:hover #d34,#u35:hover #d35,#u36:hover #d36,#u37:hover #d37,#u38:hover #d38,#u39:hover #d39,#u40:hover #d40,#u41:hover #d41,#u42:hover #d42,#u43:hover #d43,#u44:hover #d44,#u45:hover #d45,#u46:hover #d46,#u47:hover #d47,#u48:hover #d48,#u49:hover #d49,#u50:hover #d50,#u51:hover #d51,#u52:hover #d52,#u53:hover #d53,#u54:hover #d54,#u55:hover #d55,#u56:hover #d56,#u57:hover #d57,#u58:hover #d58,#u59:hover #d59,#u60:hover #d60,#u61:hover #d61,#u62:hover #d62,#u63:hover #d63,#u64:hover #d64,#u65:hover #d65,#u66:hover #d66,#u67:hover #d67,#u68:hover #d68,#u69:hover #d69,#u70:hover #d70,#u71:hover #d71,#u72:hover #d72,#u73:hover #d73,#u74:hover #d74,#u75:hover #d75,#u76:hover #d76,#u77:hover #d77,#u78:hover #d78,#u79:hover #d79,#u80:hover #d80,#u81:hover #d81,#u82:hover #d82,#u83:hover #d83,#u84:hover #d84,#u85:hover #d85,#u86:hover #d86,#u87:hover #d87,#u88:hover #d88,#u89:hover #d89,#u90:hover #d90,#u91:hover #d91,#u92:hover #d92,#u93:hover #d93,#u94:hover #d94,#u95:hover #d95,#u96:hover #d96,#u97:hover #d97,#u98:hover #d98,#u99:hover #d99{display:block}

div.d
{
	width:19%;
	position:fixed;
	top:150px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:none;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	display:none;
	padding:5px;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	right:0px;
	padding-right:10px;
}

div#err {
	border-style:solid;
	border-width:1px;
	width:30%;
	text-align:center;
	margin-left:35%;
	margin-top:10px;
	margin-bottom:20px;
}

div#err>p {
	font-size:12px;
	margin:3px;
}

sup.mandatory {
	font-size:8px;
}

div#copyright {
	font-size:10px;
	text-align:center;
	margin:10px;
}

div#copyright p {
	margin:0px;
}

div#bottom {
	font-size:10px;
	text-align:center;
}

div#menu {
	padding:0px;
	margin:0px;
	position:relative;
	display:block;
	height:24px;
	font-weight:bold;
	z-index:10;
}

div#menu ul {
	padding:2px;
	margin:0px;
	list-style:none;
}

div#menu ul li {
	cursor:pointer;
}

div#menu ul li ul {
	display:none;
	position:absolute;
}

div#menu ul li {
	float:left;
	padding-left:8px;
	padding-right:8px
}


div#menu ul li:hover ul {
	display:block;
}

div#menu ul>li>ul>li {
	float:none;
}

div.pages {
	margin:5px;
}

div.pages>a,
div.pages>div.current_page {
	position:relative;
	border-width:1px;
	border-style:solid;
	min-width:18px;
	text-align:center;
	font-size:11px;
	display:block;
	margin:1px;
	padding-left:2px;
	padding-right:2px;
	float:left;
}

div.pages>div.clear {
	clear:both;
}

div#tagmap,
div#subtagmap,
div#top_tagmap {
	margin:5px;
	padding:5px;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	margin-right:auto;
}

div#tagmap {
	width:95%;
	margin-left:auto;
}

div#top_tagmap,
div#subtagmap {
	width:78%;
}

a.t0 {
	font-size:30px;
	margin:4px;
}

a.t1 {
	font-size:26px;
	margin:4px;
}

a.t2 {
	font-size:22px;
	margin:3px;
}

a.t3 {
	font-size:18px;
	margin:3px;
}

a.t4 {
	font-size:16px;
	margin:3px;
}

a.t5 {
	font-size:14px;
	margin:2px;
}

a.t6 {
	font-size:12px;
	margin:2px;
}

a.t7 {
	font-size:10px;
	margin:1px;
}

a.t0,
a.t1,
a.t2,
a.t3,
a.t4,
a.t5,
a.t6,
a.t7 {
	margin-top:0px;
	margin-bottom:0px;
	vertical-align:middle;
}


input,
textarea,
select
{
	margin-bottom:10px;
	margin-left:5px;
	margin-right:10px;
	font-size:12px;
	font-weight:400;
}


form.fancy {
	padding:10px;
	border-style:solid;
	border-width:1px;
	border-radius:10px;
	padding-bottom:3px;
	margin-top:50px;
	margin-bottom:100px;
	margin-left:auto;
	margin-right:auto;
}

form#login>a {
	margin-right:20px;
	margin-left:20px;
}

form#login {
	margin-top:100px;
	width:30%;
}

form.fancy>fieldset {
	border-radius:10px;
	padding:10px;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
}

textarea.w,
input.w {
	width:98%;
	margin-left:auto;
	margin-right:auto;
}

form#urledit,
form#tagedit {
	width:70%;
}

form#register,
form#chpass,
form#chemail,
form#deleteaccount,
form#userdata {
	width:40%;
}

form#settings {
	width:550px;
}

form#import {
	width:40%;
}


form.clean input {
	margin-bottom:0px;
}

div#menu>form#search {
	position:absolute;
	right:0px;
}

div#tagdir {
	font-size:36px;
	padding:10px;
}
