#custom-button-1,
#wrapper-custom-button-1
  {list-style-image: url("chrome://linx/content/Linx-button.png");}

/* common style for all custom buttons */
.linx:hover
  {-moz-image-region: rect( 0px 24px 24px  0px);}

.linx
  {-moz-image-region: rect(24px 24px 48px  0px);}

[iconsize="small"] .linx:hover
  {-moz-image-region: rect( 0px 40px 16px 24px);}

[iconsize="small"] .linx
  {-moz-image-region: rect(24px 40px 40px 24px);}
