html {
	background-color:#03074B;
	color:#ffffff;
}

hr {
	color:#7175C7;
}

a {
	color:#B7C1FF;
}

a:hover {
	color:#ffffff;
}

div.r0>a,
div.r1>a {
	color:#E0E0FF;
}

div.r0 {
	background-color:#191A52;
}

div.r1 {
	background-color:#2B2C5A;
}

div.r0:hover,
div.r1:hover {
	color:#ffffff;
	background-color:#004999;
}

div.r0:hover a,
div.r1:hover a {
	color:#ffffff;
	background-color:#004999;
}


div.r0 a.eu,
div.r1 a.eu {
	color:#B0000D;
}

div.r0 a.eu:hover,
div.r1 a.eu:hover {
	color:#E39293;
}

div.r0>div.t,
div.r1>div.t {
	color:#C0C0C0;
}

div.r0>a.tag,
div.r1>a.tag {
	color:#909090;
}

div.r0>a.tag:hover,
div.r1>a.tag:hover {
	color:#FFF430;
}

div.r0>a.ru,
div.r1>a.ru {
	color:#7272B6;

}

div.d
{
	background-color:#373A71;
	border-color:#4E529A;
	color:#ffffff;
}

div#err>p {
	color:#FFFF00;
}

div#err {
	border-color:#FC0000;
	background-color:#7B0000;
}

sup.mandatory {
	color:#ff0000;
}

div#copyright {
	color:#7A80D3;
}


div#top {
	background-color:#030543;
}

div#menu {
	background-color:#030543;
	color:#C2C6FF;
}


div#menu ul li ul {
	background-color:#505050;
}

div#menu ul li:hover {
	background-color:#35397A;
	color:#ffffff;
}

div#menu ul li:hover ul {
	background-color:#35397A;
}

div#menu ul>li>ul>li {
	color:#C2C6FF;
}

div#menu ul>li>ul>li:hover {
	color:#ffffff;
}

div#menu ul li ul li {
	background-color:#030543;
}

div.pages>a,
div.pages>div.current_page {
	border-color:#4E529A;
}

div.pages>a {
	background-color:#373A71;
}

div.pages>a:hover {
	background-color:#4A4E97;
}

div.pages>div.current_page {
	background-color:#585B9A;
}

div#tagmap,
div#subtagmap,
div#top_tagmap {
	background-color:#2B2C61;
	border-color:#4E529A;
}

form.fancy {
	background-color:#2F315E;
	border-color:#4E529F;
}

form.fancy>fieldset {
	border-color:#393D7F;
	background-color:#373A71;
}


