a:visited,
a { 
	color:#303082;
}

a:hover {
	color:#C9371B;
}

div.r0 {
	background-color:#E0E0E0
}

div.r0:hover,
div.r1:hover {
	background-color:#FFF1A0;
}

div.r0:hover a,
div.r1:hover a {
	color:#000000;
}

div.r0 a.t,
div.r1 a.t {
	font-weight:bold;
}


div.r0 a.eu,
div.r1 a.eu {
	color:#870000;
}

div.r0 a.eu:hover,
div.r1 a.eu:hover {
	color:#330000;
}

div.d
{
	background-color:#FFF1A0;
	color:#000000;
}

div#top {
	background-color:#030543;
}

div#menu {
	background-color:#D8D8D8;
}

div#menu ul li:hover {
	background-color:#414197;
	color:#ffffff;
}

div#menu ul li:hover ul {
        background-color:#D8D8D8;
	color:#000000;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}

div#menu ul>li>ul>li:hover {
	background-color:#414197;
	color:#ffffff;
}


div.pages>div.current_page {
	background-color:#FFEEAB;
}

div#tagmap,
div#subtagmap,
div#top_tagmap {
	border-style:none;
}

fieldset {
	border-style:none;
}
